/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 19, 2024, 2:25:56 PM
    Author     : Admin
*/

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #34495e;
    color: white;
    padding: 10px 20px;
    box-sizing: border-box;
}

.topbar .search {
    width: 300px;
    padding: 5px;
    border: none;
    border-radius: 3px;
}

.topbar .icons {
    display: flex;
    align-items: center;
}

.topbar .icons a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

.topbar .icons .profile {
    margin-left: 15px;
}

.topbar .icons .profile span {
    margin-right: 10px;
}

.main-container {
    display: flex;
    height: calc(100vh - 50px); /* Adjusted for the topbar */
}

.sidebar {
    width: 20%;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar h2 {
    color: #ecf0f1;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: #ecf0f1;
    text-decoration: none;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

.dropdown {
    cursor: pointer;
    margin-bottom: 10px;
}

.dropdown-content {
    display: none;
    padding-left: 20px;
}

.dropdown-content ul {
    list-style: none;
    padding: 0;
}

.dropdown-content ul li {
    margin-bottom: 10px;
}

.dropdown-content ul li a {
    color: #ecf0f1;
    text-decoration: none;
}

.dropdown-content ul li a:hover {
    text-decoration: underline;
}

.content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}
