/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 30, 2024, 1:56:04 AM
    Author     : Admin
*/
body {
    background-color: #ccc;
    color: #fff;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2em;
    text-align: center;
    flex: 1;
}

.search-form {
    display: flex;
}

.search-form input[type="text"] {
    padding: 10px;
    font-size: 1em;
    border-radius: 4px 0 0 4px;
    border: 1px solid #ccc;
    outline: none;
    width: 300px;
}

.search-form button {
    padding: 10px;
    font-size: 1em;
    border-radius: 0 4px 4px 0;
    border: 1px solid #ccc;
    background-color: #666;
    color: #fff;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #555;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px 0;
    font-size: 1em;
    border-radius: 4px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    text-align: center;
}

.back-btn {
    background-color: #007bff;
}

.add-btn {
    background-color: #28a745;
}

.sort-btn {
    background-color: #17a2b8;
    margin-left: 10px;
}

.edit-btn {
    background-color: #007bff;
}

.delete-btn {
    background-color: #dc3545;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #555;
}

th {
    background-color: #444;
}

td img {
    display: block;
    margin: 0 auto;
}

td.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.page-btn {
    padding: 10px 15px;
    margin: 0 5px;
    font-size: 1em;
    border-radius: 4px;
    text-decoration: none;
    background-color: #666;
    color: #fff;
}

.page-btn:hover {
    background-color: #555;
}

.page-btn.active {
    background-color: #ffc107;
    color: #333;
}

.success-message {
    color: #28a745;
}

.error-message {
    color: #dc3545;
}
