/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 6, 2024, 1:52:45 PM
    Author     : Admin
*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.tour-details {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.tour-image {
    width: 600px;
    height: 300px;
    object-fit: cover;
    margin-right: 30px;
}

.tour-info h2 {
    margin-top: 0;
}

.booking-section {
    display: flex;
    justify-content: space-between;
}

form {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.booking-form {
    width: 60%;
    margin-right: 3%;
}

.summary-section {
    width: 27%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.booking-form h2, .booking-form h3 {
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.booking-form label {
    display: block;
    margin: 10px 0 5px;
}

.booking-form input, .booking-form select, .booking-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.passenger {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.passenger label {
    flex: 1;
}

.passenger button {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 50%;
    background-color: #f0f0f0;
    cursor: pointer;
}

.passenger input {
    width: 50px;
    text-align: center;
    border: none;
    margin: 0 10px;
}
/* checkbox */
.checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 120px;
}

.checkbox-item {
    display: block;
    align-items: center;
    margin-right: 150px; /* Điều chỉnh giá trị này để tạo khoảng cách mong muốn */
}

.checkbox-item input[type="radio"] {
    margin-right: 10px;
}

.checkbox-item label {
    margin: 0;
}
/* checkbox */
.customer-details {
    display: block;
}

.customer-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.customer-detail label {
    flex: 1;
    margin-right: 10px;
}

button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.summary-section h2 {
    margin-top: 0;
}

.summary-section p {
    margin: 10px 0;
}

.summary-section .discount-section {
    display: flex;
    align-items: center;
}

.summary-section .discount-section input {
    width: 60%;
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.summary-section button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.summary-section button:hover {
    background-color: #0056b3;
}

/* Đặt bố cục theo chiều ngang cho các trường trong form */
.form-group-horizontal {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: center;
}

/* Đảm bảo mỗi .form-group chiếm không gian ngang */
.booking-form .form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 150px; /* Thêm chiều rộng tối thiểu cho mỗi nhóm form */
}

.booking-form .form-group label {
    margin-bottom: 5px;
}

.booking-form .form-group input,
.booking-form .form-group select,
.booking-form .form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
/* CSS cho modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.btn-back {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #6c757d;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin: 20px 0; /* Add margin for spacing */
}

.btn-back:hover {
    background-color: #5a6268;
}

