/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 23, 2024, 9:12:48 PM
    Author     : Admin
*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9; /* Background màu xám nhẹ */
}

.wrapper {
    margin: 0 5%;
}

h1 {
    color: #333;
    text-align: center;
    padding: 20px 0;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #333;
}

input[type="text"],
textarea,
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #e9ecef; /* Khung nền màu khác */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* Hiệu ứng nổi */
}

input[type="text"]:focus,
textarea:focus,
input[type="file"]:focus {
    border-color: #007bff;
    background-color: #fff; /* Khung nền trắng khi focus */
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Hiệu ứng nổi khi focus */
}

textarea {
    resize: vertical;
    height: 150px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.back-button {
    text-align: left; /* Canh trái cho nút back */
}

.back-button button {
    margin: 20px 0;
}

.create{
    font-size: 25px;
}

