/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 12, 2024, 11:18:45 PM
    Author     : Admin
*/

body {
    font-family: Arial, sans-serif;
}

.container {
    margin: 0 auto;
    width: 95%;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}

.filter-form {
    flex: 25%;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 3%;
    height: fit-content;
}

.tour-list {
    flex: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tour-card {
    width: 28%;
    margin: 10px 1%;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.tour-card img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
}

.tour-info {
    padding: 10px;
    padding-bottom: 60px; /* Add extra padding to the bottom */
    flex: 1;
}

.tour-info h2 {
    margin: 10px 0;
}

.tour-info p {
    margin: 15px 0;
}

.tour-buttons {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.btn {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn-read-more {
    background-color: #4CAF50;
    color: white;
}

.btn-read-more:hover {
    background-color: #45a049;
}

.btn-book-now {
    background-color: #ffbf00;
    color: white;
}

.btn-book-now:hover {
    background-color: #e0a800;
}

button.btn-back {
    background-color: #e0a800;
    color: #0056b3;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    display: contents;
    margin: 0 auto 20px;
}

button.btn-back:hover {
    background-color: #0056b3;
}

.input-group {
    margin-bottom: 20px;
}

.input-group h4 {
    margin-bottom: 10px;
}

.input-group-prepend {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-group-text {
    background-color: #fff;
    border-right: none;
    padding-right: 5px;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.slider {
    width: 100%;
    margin: 10px 0;
}

.slider + p {
    text-align: center;
}

.btn-search {
    background-color: #ffbf00;
    color: #fff;
    border: none;
    height: 40px;
    font-size: 18px;
    width: 100%;
    border-radius: 5px;
}

.btn-search:hover {
    background-color: #e0a800;
}

/* Thêm CSS để cố định chiều rộng cho các trường trong form bộ lọc */
.filter-form .form-control {
    width: 100%;
}

.input-group {
    margin-bottom: 20px;
}

.input-group-prepend .input-group-text {
    background-color: #fff;
    border-right: none;
    padding-right: 5px;
    display: flex;
    align-items: center;
}

.input-group input[type="date"],
.input-group select {
    width: calc(100% - 40px); /* Đảm bảo rằng chiều rộng của input bằng với select */
}



