/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 30, 2024, 1:44:51 AM
    Author     : Admin
*/
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.header-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    color: #333;
    margin: 0 auto; /* Căn giữa thẻ <h1> */
    text-align: center;
    flex: 1; /* Sử dụng flex để căn giữa */
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center; /* Căn giữa các phần tử trong form */
    margin-top: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    align-self: flex-start; /* Căn label về phía bên trái */
}

input[type="text"], input[type="file"], textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    height: 100px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 0;
}

button:hover {
    background-color: #0056b3;
}

.back-button {
    background-color: #6c757d;
    order: -1; /* Đặt thứ tự hiển thị của nút back trước thẻ <h1> */
}

.back-button:hover {
    background-color: #5a6268;
}

img {
    display: block;
    margin: 0 auto 20px auto;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}


