/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 20, 2024, 12:47:54 AM
    Author     : Admin
*/

/* CSS for editBooking.jsp */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.passenger-info {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

h2 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

p {
    margin: 10px 0;
}
p1 {
    margin: 10px 0;
    margin-top: 1px;
}

strong {
    color: #333;
}

/* Back button styling */
.btn-back {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #6c757d;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin: 20px 0; /* Add margin for spacing */
}

.btn-back:hover {
    background-color: #5a6268;
}

/* Update button styling */
.btn-update {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #ffc107;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin: 20px 0; /* Add margin for spacing */
}

.btn-update:hover {
    background-color: #e0a800;
}

/* Centered text */
.centered {
    text-align: center;
}
/* tat ca */
.form-group {
    display: flex;
    margin-bottom: 10px;
}

.form-group label {
    width: 9%;
    text-align: left;
    font-weight: bold;
}

.form-group input {
    width: 20%;
}
/* tat ca */

/* Ngay */
.form-group1 {
    display: flex;
    margin-bottom: 10px;
} 

.form-group1 label {
    width: 9%;
    text-align: left;
    font-weight: bold;
}
.form-group1 input {
    width: 10%;
}

/* Ngay */


