/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 10, 2024, 5:53:15 PM
    Author     : Admin
*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.header h1 {
    color: #333;
    text-align: center;
}

.section-title {
    font-size: 18px;
    color: #d9534f;
    margin-top: 20px;
    text-transform: uppercase;
}

.info-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.info-table th, .info-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.info-table th {
    background-color: #f2f2f2;
    color: #333;
    text-align: left;
}

.info-table td {
    color: #555;
}

.highlight {
    background-color: #ffeb3b;
}

.red-text {
    color: #d9534f;
    font-weight: bold;
}


