/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 23, 2024, 7:38:49 PM
    Author     : Admin
*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff; /* Background màu xanh nước biển nhẹ */
}

.wrapper {
    margin: 0 5%; /* Cách lề mỗi đoạn tầm 5% */
}

h1 {
    color: #333;
    text-align: center;
    padding: 20px 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.image-section img {
    width: 70%; /* Chiếm khoảng 70% chiều rộng màn hình */
    height: auto;
    border-radius: 5px;
    margin: 0 auto;
    border: 3px solid #333;
}

.text-section {
    text-align: justify;
    margin-top: 20px;
}

.small-images {
    text-align: center;
    margin-top: 20px;

}

.small-images img {
    width: 70%; /* Chiếm khoảng 70% chiều rộng màn hình */
    height: auto;
    margin: 10px 0;
    border-radius: 5px;
    border: 3px solid #333;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: #0056b3;
}

.back-button {
    text-align: left; /* Canh trái cho nút back */
}

.back-button button {
    margin: 20px 0;
}