/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 23, 2024, 2:39:10 PM
    Author     : Admin
*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff; /* Background màu xanh nước biển nhẹ */
}

.wrapper {
    margin: 0 5%; /* Cách lề mỗi đoạn tầm 5% */
}

h1 {
    color: red;
    text-align: center;
    padding: 20px 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #007bff;
}

li {
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    display: flex; /* Sử dụng flexbox để sắp xếp hình ảnh và nội dung */
    align-items: flex-start;
    border: 2px solid #333;
}

img {
    width: 430px; /* Chiếm khoảng 70% chiều rộng màn hình */
    height: 300px;
    border-radius: 5px;
    margin-right: 20px; /* Khoảng cách giữa hình ảnh và nội dung */
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px; /* Đảm bảo chiều cao của text-container bằng với chiều cao của ảnh */
}

.title-date-container {
    display: flex;
    flex-direction: column;
    margin-top: 0; /* Loại bỏ margin top */
}

h2 {
    margin: 0; /* Loại bỏ margin để đảm bảo canh ngang với đầu bức ảnh */
    color: black; /* Màu chữ cho h2 là đen */
}

.publish-date {
    margin-top: auto; /* Đẩy phần này xuống cuối cùng của text-container */
    color: black; /* Màu chữ cho publish date là đen */
}

a {
    text-decoration: none;
    color: #333;
}

p {
    text-decoration: none;
    color: #000;
}

button {
    display: block;
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: #0056b3;
}

.back-button {
    text-align: left; /* Canh trái cho nút back */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box {
    width: 50%;
    padding: 10px; /* Chiều cao bằng với nút */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Thêm CSS cho trang hiện tại */
.pagination .btn.active {
    background-color: #ffc107; /* Màu nền vàng cho nút active */
    color: #333; /* Màu chữ đậm */
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination a {
    padding: 10px 15px;
    margin: 0 5px;
    text-decoration: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
}

.pagination a:hover {
    background-color: #0056b3;
}

.found {
    background-color: yellow; /* Màu nền vàng để làm nổi bật kết quả tìm kiếm */
    color: #333; /* Màu chữ đậm */
}