/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 23, 2024, 8:34:21 PM
    Author     : Admin
*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

a.btn, button.btn {
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    /* Chiều cao cố định cho tất cả các nút  height: 40px; */
    line-height: 20px; /* Đặt line-height để căn giữa chữ theo chiều dọc */
}


a.btn.create-btn, .back-button .btn{
    width: 120px; /* Đặt chiều rộng cho nút */
    height: 28px;
}

button.btn.forward {
    background-color: #007bff; /* Màu nền xanh lam nhạt cho nút sửa */
}

a.btn.create-btn {
    background-color: #28a745; /* Màu nền xanh lá cho nút tạo mới */
}
button.btn.edit {
    background-color: #ffc107; /* Màu nền xanh lam nhạt cho nút sửa */
}
button.btn.delete {
    background-color: #dc3545; /* Màu nền đỏ cho nút delete */
}

button.btn.search {
    background-color: #007bff; /* Màu nền xanh dương cho nút tìm kiếm */
}

a.btn:hover, button.btn:hover {
    opacity: 0.8; /* Hiệu ứng hover chung cho tất cả các nút */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}

h2 {
    margin: 0 0 10px 0;
    color: #007bff;
}

p {
    margin: 0 0 10px 0;
    color: #555;
}

form {
    display: inline;
}

.back-button {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.pagination .btn.active {
    background-color: #ffc107;
    color: #333;
}

.found {
    background-color: yellow;
    color: #333;
}

/* CSS cho thanh tìm kiếm và nút */
.search-create-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    gap: 10px;
}

#searchQuery {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 40px; /* Chiều cao cố định cho thanh tìm kiếm */
    width: 400px; /* Đặt chiều rộng cho thanh tìm kiếm */
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.pagination .btn {
    width: 22px; /* Giảm kích thước của nút phân trang */
    height: 22px; /* Giảm kích thước của nút phân trang */
    display: flex;
    justify-content: center;
    align-items: center;
}

