/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 7, 2024, 7:14:51 PM
    Author     : Admin
*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.btn-back {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #6c757d;
    color: #6c757d;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin: 20px 0; /* Add margin for spacing */
    
}

.btn-back:hover {
    background-color: #5a6268;
}

.payment-section {
    display: flex;
    justify-content: space-between;
}

form {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.payment-form {
    width: 60%;
    margin-right: 3%;
}

.summary-section {
    width: 27%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.payment-form h2, .payment-form h3 {
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.payment-form label {
    display: block;
    margin: 5px 0 10px;
}

.payment-form input, .payment-form select, .payment-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 1px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.summary-section h2 {
    margin-top: 0;
}

.summary-section p {
    margin: 10px 0;
}

.terms-container {
    width: 100%;
    max-height: 300px; /* Điều chỉnh chiều cao tùy ý */
    overflow-y: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
}

.terms-content pre {
    white-space: pre-wrap;
    font-family: inherit;
    font-size: 14px;
    line-height: 1.6;
}
