/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 18, 2024, 2:21:08 AM
    Author     : Admin
*/


/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    width: 90%;
    margin: 100px auto 0 auto; /* Cách lề trên 100px */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Sidebar Styles */
.sidebar {
    width: 200px;
    padding: 10px;
    border-right: 1px solid #ccc;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    margin-bottom: 10px;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.sidebar nav ul li a:hover {
    color: #007bff;
}

/* Main Content Styles */
.main-content {
    flex: 1;
    padding: 20px;
}

.main-content h2 {
    text-align: center;
    margin-bottom: 20px;
}

.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.profile-header .profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-header h1 {
    margin: 0;
    font-size: 24px;
}

.profile-header p {
    margin: 0;
    font-size: 16px;
    color: #555;
}

.profile-content table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.profile-content table th,
.profile-content table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

.profile-content table th {
    background-color: #f9f9f9;
}

.profile-content table td a {
    color: #007bff;
    text-decoration: none;
}

.profile-content table td a:hover {
    text-decoration: underline;
}

/* Back Button Styles */
.back-button-container {
    margin: 20px;
    text-align: left;
    position: absolute;
    top: 10px;
    left: 10px;
}

.back-button-container .back-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-button-container .back-btn:hover {
    background-color: #0056b3;
}
