/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 30, 2024, 1:21:20 AM
    Author     : Admin
*/

/* viewLocation.css */

body {
    background-color: #1c1c1c;
    color: #fff;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2em;
    text-align: center;
    flex: 1;
}

.search-form {
    display: flex;
    align-items: center;
}

.search-form input[type="text"] {
    padding: 10px;
    font-size: 1em;
    border-radius: 4px 0 0 4px;
    border: 1px solid #ccc;
    outline: none;
    width: 300px;
}

.search-form button {
    padding: 10px;
    font-size: 1em;
    border-radius: 0 4px 4px 0;
    border: 1px solid #ccc;
    background-color: #666;
    color: #fff;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #555;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    font-size: 1em;
    border-radius: 4px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    text-align: center;
}

.back-btn {
    background-color: #007bff;
}

.sort-btn {
    background-color: #17a2b8;
    margin-left: 10px;
}

.location-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.location-item {
    background-color: #444;
    border-radius: 8px;
    overflow: hidden;
    width: 18%;
    cursor: pointer;
}

.location-item:hover {
    background-color: #555;
}

.location-image {
    width: 100%;
    height: auto;
}

.location-info {
    padding: 10px;
    text-align: center;
}

.location-name {
    font-size: 1.2em;
    color: #00f;
}

.location-description {
    font-size: 1em;
    color: #ccc;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.page-btn {
    padding: 10px 15px;
    margin: 0 5px;
    font-size: 1em;
    border-radius: 4px;
    text-decoration: none;
    background-color: #666;
    color: #fff;
}

.page-btn:hover {
    background-color: #555;
}

.page-btn.active {
    background-color: #ffc107;
    color: #333;
}
