/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 10, 2024, 5:55:41 PM
    Author     : Admin
*/
/* CSS cho các nút và giao diện */
.btn-back {
    background-color: #f2f2f2;
    border: none;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 45%;
    text-align: center;
}

.tab:nth-child(1) {
    background-color: #4CAF50;
    color: white;
}
.tab:nth-child(2) {
    background-color: #2196F3;
    color: white;
}

.charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.chart {
    margin: 10px;
    width: 45%; /* Mỗi biểu đồ sẽ chiếm 45% chiều rộng của hàng */
    text-align: center;
}

